*{

    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    margin: 0px; 
    height: 100%; 
    overflow: hidden; 
    display: block;  
}

#canvas{
    border: 1px #000000 solid; 
    padding: 0;
    margin: auto;
    display: block;
    position: relative;
    top: 2vh;
    bottom: 0;
    left: 0;
    right: 0;
}
#boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;

    height: 10vh;
    width: 100vw;
}
#radiobox{
    display: inline-block;  
}
#boxes input[type="checkbox"], #boxes input[type=radio]{/* The Checkbox Buttons*/
    /* Make the standard inputs invisible */
    opacity: 0;
}
#boxes input[type="checkbox"] + label{/* The label of the Checkbox Buttons*/
    padding: 15px 100px;
    border: 2px black solid;
    border-radius: 6px;
}
#boxes input[type="checkbox"]:checked + label{/* The label of the Checkbox Buttons*/
    padding: 17px 102px;
    background-color: rgb(15, 175, 26);
    color: rgb(255, 255, 255);
    border: 0px rgb(255, 255, 255) solid;
    border-radius: 6px;
    animation-name: bounce;
    animation-duration: .1s;
}


#boxes input[type="radio"]+label{/* The label of the Radio Buttons*/
    padding: 15px;
    border: 2px black solid;
    border-radius: 6px;

}
#boxes input[type="radio"]:checked + label{/* The label of the Radio Buttons*/
    padding: 17px;
    background-color: rgb(15, 175, 26);
    color: rgb(255, 255, 255);
    border: 0px rgb(255, 255, 255) solid;
    border-radius: 6px;
}


@keyframes bounce {
    0%{transform: scale(1);}
    60%{transform: scale(0.9);}
    100%{transform: scale(1.1);}
}
